.btn {
	font-size: 1em;
	line-height: 1em;
	border: $border-width solid map-get($colors, gray);
	padding: $form-control-padding;
	margin: $form-control-margin;
	border-radius: $border-radius;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;

	transition: all .1s;
}

@each $name, $color in $colors {
	.btn-#{$name} {
		color: map-get($colors, "white");
		border-color: $color;
		background-color: $color;
	}
	.btn-#{$name}:hover {
		color: $color;
		background-color: map-get($colors, "none");
	}
	.btn-#{$name}:active {
		color: darken($color, 15%);
		border-color: darken($color, 15%);
		background-color: map-get($colors, "none");
	}
}
