.btn {
	border: $border-width solid map-get($colors, gray);
	padding: .5em 1em;
	border-radius: $border-radius;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;

	transition: all .1s;
}

@each $name, $color in $colors {
	.btn-#{$name} {
		color: map-get($colors, "white");
		border-color: $color;
		background-color: $color;
	}
	.btn-#{$name}:hover {
		color: $color;
		background-color: map-get($colors, "none");
	}
}
