$colors: (
	"none": transparent,
	"white":  #FFF,
	"gray":   #BBB,
	"black":  #000,
	"red":    #D50000,
	"blue":   #2196F3,
	"green":  #4CAF50,
	"orange": #FF9800,
);
$disabled-color: #EBEBE4;

@each $name, $color in $colors {
	.fore-#{$name} {
		color: $color !important;
		border-color: $color !important;
	}
	.back-#{$name} {
		background-color: $color !important;
	}

	.hover-fore-#{$name}:hover {
		color: $color !important;
		border-color: $color !important;
	}
	.hover-back-#{$name}:hover {
		background-color: $color !important;
	}
}
