$colors: (
	"none": rgba(0, 0, 0, 0),
	"white":  #FFF,
	"gray":   #BBB,
	"black":  #000,
	"red":    #D50000,
	"pink":   #E91E63,
	"purple": #9C27B0,
	"indigo": #3F51B5,
	"blue":   #2196F3,
	"cyan":   #00BCD4,
	"green":  #4CAF50,
	"yellow": #FFEB3B,
	"orange": #FF9800,
	"brown":  #795548,
);

@each $name, $color in $colors {
	.fore-#{$name} {
		color: $color;
		border-color: $color;
	}
	.back-#{$name} {
		background-color: $color;
	}

	.hover-fore-#{$name}:hover {
		color: $color;
		border-color: $color;
	}
	.hover-back-#{$name}:hover {
		background-color: $color;
	}
}
