.form-control {
	display: inline-block;
	font-size: 1em;
	line-height: 1em;
	border: $border-width solid map-get($colors, "gray");
	border-radius: $border-radius;
	padding: $form-control-padding;
	margin: $form-control-margin;

	transition: all .1s;
}
.form-control:focus {
	border-color: $active-color;
	outline: none;
}
.form-control:focus, .form-control:hover {
	box-shadow: 0 0 5px 0 map-get($colors, "gray") inset;
}

label {
	line-height: 1em;
	vertical-align: middle;
	cursor: pointer;
}

.form-radio, .form-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 1em;
	height: 1em;
	border: 1px solid map-get($colors, "gray");
	line-height: 1em;
	vertical-align: middle;
	cursor: pointer;
	margin: .25em 0;
	outline: none;

	transition: all .1s;
}
.form-radio:hover, .form-checkbox:hover {
	box-shadow: 0 0 5px 0 map-get($colors, "gray") inset;
}

.form-radio {
	border-radius: 1em;
}
.form-radio:checked {
	box-shadow: 0 0 0 3px map-get($colors, "white") inset;
	border-color: $active-color;
	background-color: $active-color;
}

.form-checkbox {
	border-radius: $border-radius;
}
.form-checkbox::after {
	color: $active-color;
	content: "\2713";
	opacity: 0;
	font-size: 0;
	transition: all .1s;
}
.form-checkbox:checked {
	border-color: $active-color;
}
.form-checkbox:checked::after {
	opacity: 1;
    font-size: 1.3em;
    line-height: 0;
    font-weight: bold;
}
