// Grid system
.row {
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: $wrap-down-width) {
	.row {
		display: inherit;
	}
}

@for $grid-width from 1 to 12 {
	.col-#{$grid-width} {
		display: block;
		margin-bottom: .5em;
	}
	@media screen and (min-width: $wrap-down-width) {
		.col-#{$grid-width} {
			display: inline-block;
			width: $grid-width / 12 * 100%;
			padding: 1%;
		}
	}
}

.block, .full {
	width: 100%;
	display: block;
}
.half {
	width: 50%;
}
.third {
	width: 33.33333%;
}
.quarter {
	width: 25%;
}
