hr {
	border: 0;
	border-top: 1px solid map-get($colors, "gray");
}

// Alignment
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}

// Header
.header {
	text-align: center;
	padding-top: 10em;
	padding-bottom: 1em;

	h1 {
		font-size: 4em;
		margin-bottom: 0.1em;
	}
	small {
		font-size: 1.5em;
		font-weight: lighter;
		display: block;
		margin-bottom: 1em;
	}
}
@each $name, $color in $colors {
	.header-#{$name} {
		color: map-get($colors, "white");
		background-color: $color;
	}
}

// Sections
.section, section {
	border-bottom: 1px solid map-get($colors, "gray");
	padding: 3em 0;
}
@each $name, $color in $colors {
	.section-#{$name} {
		border-bottom: 1px solid $color;
	}
}
