hr {
	border: 0;
	border-top: 1px solid map-get($colors, "gray");
}

// Alignment
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}

// Header
.header {
	text-align: center;
	padding-top: 10em;
	padding-bottom: 1em;

	h1 {
		font-size: 4em;
		margin-bottom: 0.1em;
	}
	small {
		font-size: 1.5em;
		font-weight: lighter;
		display: block;
		margin-bottom: 1em;
	}
}
@each $name, $color in $colors {
	.header-#{$name} {
		color: map-get($colors, "white");
		background-color: $color;
	}
}

// Sections
.section, section {
	border-bottom: 1px solid map-get($colors, "gray");
	padding: 3em 0;
}
@each $name, $color in $colors {
	.section-#{$name} {
		border-bottom: 1px solid $color;
	}
}

// Decor
$loader-size: 2em;
@keyframes loader-circle {
	from {
		width: 0;
		height: 0;
		margin: $loader-size / 2;
		opacity: 1;
	}
	to {
		width: $loader-size;
		height: $loader-size;
		margin: 0;
		opacity: 0;
	}
}
@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.loader {
	border-radius: $loader-size;
	background-color: $active-color;
	animation: loader-circle 1s infinite;
}
.spinner {
	border-radius: $loader-size;
	width: $loader-size;
	height: $loader-size;
	border: $loader-size / 8 solid $active-color;
	border-top: $loader-size / 8 solid rgba(0, 0, 0, 0);
	animation: spinner 1s infinite;
	animation-timing-function: cubic-bezier(.5, .2, .5, .8);
}
