hr {
	border: 0;
	border-top: 1px solid map-get($colors, "gray");
}

// Alignment
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}

// Header
.header {
	text-align: center;
	padding-top: 10em;
	padding-bottom: 1em;

	h1 {
		font-size: 4em;
		margin-bottom: 0.1em;
	}
	small {
		font-size: 1.5em;
		font-weight: lighter;
		display: block;
		margin-bottom: 1em;
	}
}
@each $name, $color in $colors {
	.header-#{$name} {
		color: map-get($colors, "white");
		background-color: $color;
	}
}

// Sections
.section, section {
	border-bottom: 1px solid map-get($colors, "gray");
	padding: 3em 0;
}
@each $name, $color in $colors {
	.section-#{$name} {
		border-bottom: 1px solid $color;
	}
}

// Decor
@keyframes loader-circle {
	from {
		width: 0;
		height: 0;
		margin: 1em;
		opacity: 1;
	}
	to {
		width: 2em;
		height: 2em;
		margin: 0;
		opacity: 0;
	}
}
.loader {
	border-radius: 2em;
	background-color: map-get($colors, "blue");
	animation: loader-circle 1s infinite;
}
