// Borders
$border-width: 1px;
$border-radius: 5px;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');
$font-family-sans: Roboto, Lato, "Helvetica Neue", Calibri, Arial, sans-serif;
$font-family-mono: "Source Code Pro", Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans;

$font-color: #333;

// Display
$desktop-width-min: 960px;
$wrap-down-width: 640px;

// Controls
$form-control-margin: 0.5%;
$form-control-padding: .5em 1em;
$form-control-height: 36px;
$active-color: map-get($colors, "blue");
